.pageBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Background/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.landingPage {
  position: relative;
  color: #b7a993;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  padding-top: 7vh;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}
